html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

footer,
header,
main,
menu,
nav,
section {
    display: block
}

[hidden] {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

b {
    font-weight: 700
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

button,
input {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

@media print {

    *,
    :after,
    :before {
        color: #000 !important;
        text-shadow: none !important;
        background: 0 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

    a,
    a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }

    h2,
    h3 {
        page-break-after: avoid
    }

    .navbar {
        display: none
    }

    .table {
        border-collapse: collapse !important
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

button,
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #337ab7;
    text-decoration: none
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

[role=button] {
    cursor: pointer
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

.h1,
h1 {
    font-size: 36px
}

.h2,
h2 {
    font-size: 30px
}

.h3,
h3 {
    font-size: 24px
}

.h4,
h4 {
    font-size: 18px
}

.h5,
h5 {
    font-size: 14px
}

.h6,
h6 {
    font-size: 12px
}

p {
    margin: 0 0 10px
}

.text-center {
    text-align: center
}

.text-primary {
    color: #337ab7
}

a.text-primary:focus,
a.text-primary:hover {
    color: #286090
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee
}

ul {
    margin-top: 0;
    margin-bottom: 10px
}

ul ul {
    margin-bottom: 0
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media(min-width:768px) {
    .container {
        width: 750px
    }
}

@media(min-width:992px) {
    .container {
        width: 970px
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left
}

.col-xs-12 {
    width: 100%
}

.col-xs-11 {
    width: 91.66666667%
}

.col-xs-10 {
    width: 83.33333333%
}

.col-xs-9 {
    width: 75%
}

.col-xs-8 {
    width: 66.66666667%
}

.col-xs-7 {
    width: 58.33333333%
}

.col-xs-6 {
    width: 50%
}

.col-xs-5 {
    width: 41.66666667%
}

.col-xs-4 {
    width: 33.33333333%
}

.col-xs-3 {
    width: 25%
}

.col-xs-2 {
    width: 16.66666667%
}

.col-xs-1 {
    width: 8.33333333%
}

table {
    background-color: transparent
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px
}

.table .table {
    background-color: #fff
}

table col[class*=col-] {
    position: static;
    display: table-column;
    float: none
}

input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

input[type=checkbox],
input[type=radio] {
    margin: 4px 0 0;
    line-height: normal
}

input[type=file] {
    display: block
}

input[type=range] {
    display: block;
    width: 100%
}

input[type=checkbox]:focus,
input[type=file]:focus,
input[type=radio]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

input[type=search] {
    -webkit-appearance: none
}

input[type=checkbox][disabled],
input[type=radio][disabled] {
    cursor: not-allowed
}

.collapse {
    display: none
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.dropdown {
    position: relative
}

.dropdown-toggle:focus {
    outline: 0
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav>li {
    position: relative;
    display: block
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #eee
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent
}

@media(min-width:768px) {
    .navbar {
        border-radius: 4px
    }
}

@media(min-width:768px) {
    .navbar-header {
        float: left
    }

    .navbar-right {
        float: right !important;
        margin-right: -15px
    }
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
}

@media(min-width:768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }

    .navbar-static-top .navbar-collapse {
        padding-right: 0;
        padding-left: 0
    }
}

.container>.navbar-collapse,
.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px
}

@media(min-width:768px) {

    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-right: 0;
        margin-left: 0
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px
}

@media(min-width:768px) {
    .navbar-static-top {
        border-radius: 0
    }
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none
}

@media(min-width:768px) {
    .navbar>.container .navbar-brand {
        margin-left: -15px
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.navbar-toggle:focus {
    outline: 0
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px
}

@media(min-width:768px) {
    .navbar-toggle {
        display: none
    }
}

.navbar-nav {
    margin: 7.5px -15px
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px
}

@media(min-width:768px) {
    .navbar-nav {
        float: left;
        margin: 0
    }

    .navbar-nav>li {
        float: left
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.navbar-text {
    margin-top: 15px;
    margin-bottom: 15px
}

@media(min-width:768px) {
    .navbar-text {
        float: left;
        margin-right: 15px;
        margin-left: 15px
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7
}

.navbar-default .navbar-brand {
    color: #777
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #5e5e5e;
    background-color: transparent
}

.navbar-default .navbar-text {
    color: #777
}

.navbar-default .navbar-nav>li>a {
    color: #777
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: transparent
}

.navbar-default .navbar-toggle {
    border-color: #ddd
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #ddd
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888
}

.navbar-default .navbar-collapse {
    border-color: #e7e7e7
}

.navbar-default .navbar-link {
    color: #777
}

.navbar-default .navbar-link:hover {
    color: #333
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

.clearfix:after,
.clearfix:before,
.container:after,
.container:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.row:after,
.row:before {
    display: table;
    content: " "
}

.clearfix:after,
.container:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.row:after {
    clear: both
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700
}

.navbar-main {
    margin-bottom: 0;
    background-color: #0e5077;
    border: 0;
    min-height: 38px;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px
}

.navbar-main .navbar-nav>li>a {
    color: #fff
}

.navbar-main .navbar-nav>li>a {
    padding-top: 9px;
    padding-bottom: 9px
}

.navbar-main .navbar-nav>li>a:focus,
.navbar-main .navbar-nav>li>a:hover {
    color: #eee;
    background-color: #043d5f
}

#main-menu .navbar-nav {
    margin-left: -15px;
    margin-right: -15px
}

.navbar-main .dropdown-menu {
    padding: 3px 0;
    border-top: 0;
    border-radius: 0
}

.navbar-main .navbar-nav .dropdown-menu>li>a:focus,
.navbar-main .navbar-nav .dropdown-menu>li>a:hover {
    color: #333;
    background-color: #eee
}

@media(max-width:991px) {
    .navbar-header {
        float: none
    }

    .navbar-toggle {
        display: block
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
    }

    .navbar-collapse.collapse {
        display: none !important
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7px
    }

    .navbar-nav>li {
        float: none
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px
    }
}

.dropdown-menu>li>a:focus,
.navbar-main .dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #006687
}

body,
html {
    height: 100%
}

body {
    background-color: #f8f8f8
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}

a {
    color: #058
}

section#header {
    margin: 0;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 5px 5px 0 0
}

section#header .logo-text {
    font-family: Raleway;
    font-weight: 400;
    font-size: 2.6em;
    white-space: nowrap
}

section#main-body {
    margin: 0;
    padding: 20px 0;
    min-height: 350px;
    background-color: #fff
}

section#main-content {
    margin-bottom: 60px
}

.main-content {
    margin-bottom: 60px;
    min-height: 300px
}

section#footer {
    margin: 0;
    padding: 20px 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    color: #666;
    font-size: .9em
}

section#footer p {
    margin: 0
}

@media(min-width:450px) {
    section#footer {
        line-height: 32px
    }
}

.navbar-main>li.dropdown:hover>ul.dropdown-menu {
    display: block
}

.navbar-main .navbar-toggle {
    border-color: transparent
}

.navbar-main .navbar-toggle .icon-bar {
    background-color: #eee
}

.navbar-main .navbar-toggle:focus,
.navbar-main .navbar-toggle:hover {
    background-color: transparent
}

.navbar-main .navbar-toggle:focus .icon-bar,
.navbar-main .navbar-toggle:hover .icon-bar {
    background-color: #bbb
}

@media(max-width:991px) {
    .navbar-main .navbar-nav>li>a {
        padding: 3px 20px
    }
}

@media(max-width:600px) {

    .h1,
    h1 {
        font-size: 26px
    }

    .h2,
    h2 {
        font-size: 20px
    }

    .h3,
    h3 {
        font-size: 16px
    }

    .h4,
    h4 {
        font-size: 14px
    }

    .h5,
    h5 {
        font-size: 12px
    }

    .h6,
    h6 {
        font-size: 11px
    }
}

section#main-menu {
    background-color: #006687
}

ul.top-nav {
    float: right;
    margin-top: 8px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    white-space: nowrap
}

ul.top-nav>li.primary-action>a.btn {
    padding: 6px 15px;
    background-color: #0e5077;
    color: #fff;
    border-radius: 3px
}

ul.top-nav>li,
ul.top-nav>li>a {
    display: inline-block;
    position: relative
}

ul.top-nav>li>a {
    padding: 6px 10px;
    color: #777;
    line-height: 20px;
    text-decoration: none
}

ul.top-nav>li:active>a,
ul.top-nav>li:focus>a,
ul.top-nav>li:hover>a,
ul.top-nav>li>a:focus {
    color: #333;
    text-decoration: none;
    background: 0
}

@media(max-width:991px) {
    ul.top-nav {
        font-size: .9em
    }
}

@media(max-width:767px) {
    ul.top-nav {
        margin: 0;
        font-size: .8em
    }

    ul.top-nav>li>a {
        padding: 6px
    }
}

.table-container {
    padding: 0 0 25px 0
}

@media print {

    #main-menu,
    #top-nav {
        display: none
    }

    a[href]:after {
        content: "" !important
    }
}

.store-order-container {
    margin: 20px 0;
    padding: 30px
}

.store-order-container h2 {
    margin-top: 0
}

div#order-premium_comparison {
    padding: 0;
    margin: 0 0 30px;
    height: 100%;
    width: 100%;
    line-height: 18px;
    font-size: 14px;
    color: #666;
    text-rendering: optimizeLegibility !important
}

#order-premium_comparison a,
#order-premium_comparison a:active,
#order-premium_comparison a:hover,
#order-premium_comparison a:link,
#order-premium_comparison a:visited {
    outline: 0
}

#order-premium_comparison div,
#order-premium_comparison li,
#order-premium_comparison ul {
    padding: 0;
    margin: 0
}

#order-premium_comparison h3 {
    padding: 0;
    margin: 0;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    color: #333
}

#order-premium_comparison h4 {
    padding: 0;
    margin: 10px 0;
    font-size: 24px;
    color: #333
}

#order-premium_comparison h5 {
    padding: 0;
    margin: 5px 0;
    font-size: 16px;
    color: #666
}

#order-premium_comparison .txt-center {
    text-align: center
}

#order-premium_comparison .main-container {
    padding: 0 2% 40px;
    margin: 0 auto
}

#order-premium_comparison .main-container.price-01 {
    font-size: 14px;
    line-height: 17px
}

#order-premium_comparison .main-container.price-01 h3,
#order-premium_comparison .main-container.price-01 h5 {
    font-weight: 400
}

#order-premium_comparison .price-table-container {
    padding: 10px 0 0;
    margin: 0
}

#order-premium_comparison .price-table-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center
}

#order-premium_comparison .price-table-container ul li {
    padding: 30px 10px 5px;
    margin: 0;
    display: inline-block;
    background: url(../img/shadow-btm.png) center bottom no-repeat
}

#order-premium_comparison .price-table-container .price-table {
    padding: 0;
    margin: 0;
    width: 270px;
    min-width: 270px;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3)
}

#order-premium_comparison .price-table-container .price-table .top-head {
    background: #069;
    background: -moz-linear-gradient(top, #069 0, #004c66 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #069), color-stop(100%, #004c66));
    background: -webkit-linear-gradient(top, #069 0, #004c66 100%);
    background: -o-linear-gradient(top, #069 0, #004c66 100%);
    background: -ms-linear-gradient(top, #069 0, #004c66 100%);
    background: linear-gradient(to bottom, #069 0, #004c66 100%);
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0
}

#order-premium_comparison .price-table-container .price-table .top-head .top-area {
    padding: 15px 0;
    margin: 0;
    border-bottom: 1px solid #004662;
    -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    -ms-text-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .4)
}

#order-premium_comparison .price-table-container .price-table .top-head .top-area h4 {
    padding: 0;
    margin: 0;
    font-weight: 400;
    color: #fff;
    line-height: 29px
}

#order-premium_comparison .price-table-container .price-table .top-head .top-area p {
    padding: 5px 0 0;
    margin: 0;
    color: #80a7ba;
    font-size: 13px;
    line-height: 20px
}

#order-premium_comparison .price-table-container .price-table .top-head .price-area {
    padding: 15px 0;
    margin: 0;
    border-top: 1px solid #12688d;
    -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    -ms-text-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    color: #ffffbf;
    font-size: 16px
}

#order-premium_comparison .price-table-container .price-table .top-head .price-area .price {
    padding: 10px 0
}

#order-premium_comparison .price-table-container .price-table .top-head .price-area .price span {
    font-size: 38px
}

#order-premium_comparison .price-table-container .order-button,
#order-premium_comparison .price-table-container .order-button:hover {
    padding: 13px 0;
    margin: 10px 25px;
    font-size: 16px;
    color: #fff;
    display: block;
    font-weight: 400;
    background: #4a92b7;
    background: -moz-linear-gradient(top, #4a92b7 0, #069 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4a92b7), color-stop(100%, #069));
    background: -webkit-linear-gradient(top, #4a92b7 0, #069 100%);
    background: -o-linear-gradient(top, #4a92b7 0, #069 100%);
    background: -ms-linear-gradient(top, #4a92b7 0, #069 100%);
    background: linear-gradient(to bottom, #4a92b7 0, #069 100%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    -webkit-text-shadow: 0 0 1px rgba(0, 0, 0, .4);
    -moz-text-shadow: 0 0 1px rgba(0, 0, 0, .4);
    -ms-text-shadow: 0 0 1px rgba(0, 0, 0, .4);
    text-shadow: 0 0 1px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4)
}

#order-premium_comparison .price-table-container .price-table ul {
    padding: 4px 10px 10px;
    margin: 0;
    list-style: none
}

#order-premium_comparison .price-table-container .price-table ul li {
    padding: 17px 0 15px;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    color: #333;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
    background: 0
}

#order-premium_comparison .price-table-container .price-table ul li a {
    color: #069
}

#order-premium_comparison .price-table-container .price-table ul li:last-child {
    border-bottom: 0
}

@media(max-width:600px) {
    #order-premium_comparison .price-table-container .price-table {
        margin: 0;
        width: 300px
    }
}

body,
html {
    overflow-x: hidden
}

.row-product-selection {
    position: relative;
    left: 0
}

body {
    font-family: Microsoft YaHei, PingFang SC
}

a {
    outline: 0;
    text-decoration: none !important
}

.help {
    font-size: 16px
}

#faq * {
  font-family: 'Microsoft YaHei', 'PingFang SC', sans-serif !important;
}
