.titleline{
color:red !important;
}

.untitleline{
color:blue !important;
font-weight:bold;
}
.footertag {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
	text-align:center;
}
